header
  background: url("../image/eagle1.png") no-repeat center/cover
  min-height: 1000px

.header
  background: rgb(246,240,99)
  background: linear-gradient(0deg, rgba(246,240,99,1) 27%, rgba(242,84,203,1) 86%)
  min-height: 1000px
  opacity: .9
  padding: 10px 54px 0 15px
  position: relative
  nav

    .nav_list
      display: flex
      justify-content: space-between
      list-style: none
    .nav_tools
      list-style: none
      width: 500px
      display: flex
      justify-content: space-between
      color: #ffffff
      font-size: 14px
      text-transform: uppercase
      font-weight: 400
      #first_li
        color: #FCE38A
        border-bottom: 3px solid #FCE38A
.header_text
  color: #fff
  width: 805px
  text-align: center
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  top: 50%
  transform: translateY(-50%)
  h1
    font-size: 120px
    font-weight: 900
    line-height: 122px
    text-transform: uppercase
    font-family: 'Montserrat', sans-serif
  .cursive
    font-family: 'Satisfy', cursive
  .header_title
    margin-bottom: 4px
    font-size: 72px
  button
    text-transform: uppercase
    background: none
    border: 3px solid #ffffff
    color: #ffff
    font-weight: bolder
    padding: 5px 20px
    position: relative
    margin-top: 50px
    &:before
      content: ""
      width: 61px
      height: 4px
      background: #ffffff
      position: absolute
      top: -67px

.bottom_item
    width: 221px
    border-top: 2px solid #FFFFFF
    padding-top: 7px
    color: #ffffff
    text-transform: uppercase
    display: flex
    margin-right: -129px
    div
      font-weight: 900
      margin-right: 5px
.bottom_nav
  display: flex
  justify-content: space-between
  width: 1200px
  position: absolute
  bottom: 20px
.info
  padding: 90px 0
  &_text
    font-size: 15px
    color: #999999
    text-align: center
    margin: 90px 0
  .row
    .col-md-4


      .item
        width: 281px
        height: 251px
        background: rgb(246,240,99)
        background: linear-gradient(0deg, rgba(246,240,99,1) 27%, rgba(242,84,203,1) 86%)
        position: relative
        opacity: .9
        .big_img
          width: 290px
          height: 260px
        &_element
          position: absolute
          width: 120px
          left: 0
          right: 0
          margin: 0 auto
          top: 50%
          transform: translateY(-50%)
          text-align: center
          font-weight: 900
          .team
            color: white
            font-weight: 600
        img

          opacity: .2
.label
  font-size: 24px
  color: #333333
  text-align: center
  font-family: 'Satisfy', cursive
.text
  color: #333333
  font-size: 30px
  margin-top: 10px
  text-align: center
  font-weight: 600
  text-transform: uppercase
  font-family: 'Montserrat', sans-serif
  position: relative
  &:before
    content: ""
    width: 61px
    height: 2px
    background: #F38181
    position: absolute
    top: 90px
    left: 0
    right: 0
    margin: 0 auto
.itm
  img
    width: 281px
    height: 251px
.results
  background: #95E1D3
  margin-top: 50px
  height: 240px
  display: flex
  padding: 0 62px



  &_block
    border: 1px solid #FFFFFF
    width: 200px
    padding-top: 45px
    color: #fff
  &_number
    font-size: 70px
    font-weight: 900
    text-align: center

  &_text
    text-transform: uppercase
    font-weight: 600
    font-size: 14px
    text-align: center
    margin-top: 5px
.service
  padding: 90px 0

  .row
    margin-top: 140px
  &_info

    display: flex
    justify-content: space-between
    &_text
      margin-left: 16px
      .title
        color: #333333
        font-weight: 700
        font-size: 14px
        text-transform: uppercase

      p
        width: 273px
        font-size: 15px
        color: #999999
  &_line
    width: 100%
    height: 2px
    margin: 40px 10px
    background: #E5E5E5
.device
  height: 820px
  position: relative
  z-index: -1
  background: url("../image/device_bg.png") center center/cover no-repeat
  &_content
    background: #ffffff
    opacity: .8
    padding: 30px 0 90px  0
    position: absolute
    width: 100%
    height: 820px
    z-index: 1
  &_image
    position: relative
    top: 120px
    margin: 0 auto
    width: 600px
    .tablet_img
      position: absolute
      z-index: -6
    .phone_img
      position: absolute
      left: 335px
      top: 194px
      z-index: 3
.about
  margin-top: 20px
  display: flex
  justify-content: space-between
.about_time
  width: 281px
  background: #95E1D3
  position: relative
.about_time:hover .about_img img
  opacity: .1
.about_time:hover .about_img
  transform: translate3d(-10px, -10px, 0)
.about_img
  background: rgb(246,240,99)
  background: linear-gradient(0deg, rgba(246,240,99,1) 27%, rgba(242,84,203,1) 86%)
  transition: transform .1s linear

.about_img img
  height: 265px
  width: 281px
  display: block
  transition: opacity .1s linear
.about_text
  color: #ffffff
  font-size: 18px
  text-transform: uppercase
  position: absolute
  font-weight: 700
  text-align: center
  width: 100%
  opacity: 0
  left: 0
  top: 50%
  transform: translateY(-50%)
.about_time:hover .about_text
  opacity: 1
.team
  padding: 300px 0
  position: relative


  &_text
    color: #9999
    font-size: 15px
    text-align: center
    width: 954px
    margin: 90px auto
  &_blog
    background: url('../image/other/person1.png') center center/cover no-repeat
    width: 351px
    height: 331px
    &-second
      width: 351px
      height: 331px
      background: url('../image/other/persona2.png') center center/cover no-repeat

    &-third
      width: 351px
      height: 331px
      background: url('../image/other/persona3.png') center center/cover no-repeat

    &-text

      margin: 20px auto 0 auto
      text-align: center
    &-sub
      font-size: 14px
      color: #333333
      margin-bottom: 5px
      font-family: Montserrat-Regular,AdobeInvisFont,MyriadPro-Regular,serif
    &-subtext
      font-size: 15px
      color: #999999
      font-family: "Roboto Light",serif
  &_footer
    margin-top: 50px
    height: 251px
    background: #F8F8F8
    &-div
      display: flex
      height: 251px
      align-items: center
      justify-content: space-between
    &-icon

      img
        width: 149px
        height: 149px
.unique
  height: 600px
.work


  &_text
    color: #9999
    font-size: 15px
    text-align: center
    width: 954px
    margin: 90px auto
  &_blog
    width: 1380px


    img
      width: 342px
      height: 300px
  &_img
    border-radius: 50%

  &_feed
    width: 1170px
    display: flex
    justify-content: space-between
    &-text
      .sub
        font-family: 'KaushanScript-Regular,AdobeInvisFont,MyriadPro-Regular', Serif
        font-size: 24px
        color: #333333
        position: relative
        font-style: italic
        left: 55px
        &:before
          content: ''
          width: 50px
          background: red
          position: absolute
          height: 3px
          left: -56px
          top: 12px
      p
        font-size: 24px
        width: 767px
        color: #9999
        font-family: Roboto-LightItalic,AdobeInvisFont,MyriadPro-Regular, serif



.people

  background: url('../image/mountain.png') center center/cover no-repeat
  min-height: 832px
  &_info
    margin-left: 20px
  &_blog
    padding: 110px 0
    background: #FFFFFF99
    min-height: 832px
  &_feed
    margin-top: 115px
    display: flex
    justify-content: space-between
    &-name
      margin: 0 0 10px 0
    &-job
      margin: 0 0 10px 0
      position: relative
      &:after
        content: ''
        width: 60px
        height: 3px
        background: #F38181
        position: absolute
        top: 34px
        left: 0
        margin: 0 auto
    &-say
      margin: 15px 0
    img
      width: 112px
      height: 112px
      border-radius: 50%

.blog
  padding: 100px 0
  .row
    .col-md-4
      margin-top: 90px
  &_block
    img
      width: 357px
      height: 251px
    &-title
      margin-top: 20px
    &-text
      margin: 20px 0
      width: 357px
      position: relative
      &:after
        content: ''
        width: 100%
        height: 2px
        background: #E5E5E5
        position: absolute
        left: 0
        top: 64px
  &_revise
    margin-top: 37px
    img
      width: 21px
      height: 15px
    span

      margin-right: 12px
        




.map
  min-height: 200px
  background: url('../image/map.png')
  &_block
    background: #ffffff90
    height: 200px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &_text
    color: #F38181
    font-size: 24px
    text-transform: uppercase
    font-weight: 900
    margin-top: 10px
    position: relative
    &:after
      content: ''
      position: absolute
      background: #F38181
      height: 3px
      width: 100px
      top: 50px
      margin: 0 auto
      left: 0
      right: 0
.footer
  margin-top: 70px
  display: flex
  justify-content: space-between
  padding-bottom: 100px
  &_text
    margin-left: 40px
    &_logo
      color: #CCCCCC
      font-size: 46px
      font-weight: 900
      font-family: Montserrat-Bold,AdobeInvisFont,MyriadPro-Regular,serif
    &_p
      color: #999999
      font-size: 15px
      width: 462px
      margin: 42px 0
    &_view
      color: #333333
      font-size: 18px
      margin-bottom: 30px
    &_media
      display: flex
      border-top: 2px solid #E5E5E5
      padding-top: 20px

    &_med
      margin-right: 20px
      color: #999999
      font-size: 15px
      font-style: italic
    &_icons
      width: 245px
      display: flex
      justify-content: space-between
      img
        display: block
  form
    margin-top: 50px
    position: relative
    #email
      width: 280px
      height: 40px
      border: 1px solid #CCCCCC
      padding: 23px
      border-radius: 4px
      background: #FFFFFF
      &:focus
        outline: none
      &::placeholder
        color: #CCCCCC
        font-size: 17px
        font-style: italic
    #button
      background: #95E1D3
      width: 151px
      padding: 12px
      color: #FFFFFF
      font-size: 17px
      border: none
      font-weight: 900
      border-radius: 4px
      position: absolute
  &_blog
    &_title
      color: #333333
      font-size: 14px
      text-transform: uppercase
      font-weight: 900
      margin-bottom: 30px
    &_blocks
      margin-bottom: 93px
      width: 336px
      display:  flex
      justify-content: space-between
      img
        width: 123px
    &_info

      p
        color: #333333
        font-size: 13px
        width: 194px
        font-weight: 900
        margin-top: 12px
      div
        color: #999999
        font-size: 12px
        margin-top: -8px
        font-style: italic
  &_media
    margin-right: 58px
    img
      width: 120px
      height: 137px
      object-fit: cover
    &_title
      color: #333333
      font-size: 14px
      text-transform: uppercase
      font-weight: 900
      margin-bottom: 30px